*{margin:0;padding:0;box-sizing:border-box;font-family:Poppins}

body{
  background:#020617;
  color:#fff;
  transition:0.3s;
}
body.light{background:#f1f5f9;color:#111}

.bg{
  position:fixed;
  width:200%;height:200%;
  background:radial-gradient(circle, rgba(59,130,246,0.15), transparent);
  animation:move 10s linear infinite;
}
@keyframes move{
  0%{transform:translate(-20%,-20%)}
  50%{transform:translate(20%,20%)}
  100%{transform:translate(-20%,-20%)}
}

nav{
  display:flex;
  justify-content:space-between;
  padding:20px 40px;
}

.app{
  max-width:700px;
  margin:auto;
  padding:20px;
}

.chat{
  height:400px;
  overflow-y:auto;
  margin-bottom:15px;
  padding:10px;
}

.msg{
  padding:10px 15px;
  margin:10px 0;
  border-radius:10px;
  max-width:70%;
}

.user{
  background:#3b82f6;
  margin-left:auto;
}

.bot{
  background:#22c55e;
}

.loading{
  background:#555;
  animation:pulse 1s infinite;
}
@keyframes pulse{
  0%{opacity:0.5}
  50%{opacity:1}
  100%{opacity:0.5}
}

.input-bar{
  display:flex;
  gap:10px;
}

/* Input box bigger by 6px */
textarea {
  flex: 1;
  padding: 16px;       
  font-size: 25px;      
  border-radius: 8px;
  border: none;
}


button {
  padding: 15px 20px;  
  font-size: 17px;      
  border: none;
  border-radius: 8px;
  background: #3b82f6;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}

.dashboard{
  margin-top:15px;
  display:flex;
  justify-content:space-between;
  font-size:14px;
}
.bg { z-index: -1; }

.spam-outline {
  border: 2px solid red;
}