<form method="POST" class="card">

    <h1>Email/SMS Spam Classifier</h1>

    <textarea name="message" placeholder="Type your message here..."></textarea>

    <button type="submit" class="predict-btn">Predict</button>

    {% if prediction %}
        <div class="result-box">
            <p>{{ prediction }}</p>
        </div>
    {% endif %}

    <!-- HISTORY -->
    {% if history %}
    <div class="history">
        <h3>Recent Checks</h3>
        <ul>
            {% for msg, res in history %}
                <li>
                    <span>{{ msg }}</span>
                    <b>{{ res }}</b>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

</form>